input, select {
    padding: 12px 20px;
    margin: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.App {
    margin: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.add-item {
    width: 100%;
}

.plus {
    font-size: 1.2em;
    margin-top: 15px;
}

.plus:hover {
    cursor: pointer;
}